<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <th:block th:replace="~{/fragments/template.html :: head-setup}"></th:block>
    <title>Edit Blog</title>
</head>
<body>
    <th:block th:replace="~{/fragments/template.html :: navbar}"></th:block>
    <div class="container">
        <h1>Editing Blog Post:</h1>
        <form th:action="@{/blogposts/{id} (id=${blogPost.getId()})}" th:object="${blogPost}" th:method="patch">
            <div class="form-group">
                <input type="text" class="form-control" th:field="*{title}" placeholder="Blog title..." />
    
                <input type="text" class="form-control" th:field="*{author}" placeholder="Blog author..." />
    
                <input type="text" class="form-control" th:field="*{blogEntry}" placeholder="Blog entry..." />
    
            </div>
            <button type="submit" class="btn btn-primary">Submit your blog</button>
        </form>
    </div>

    <th:block th:replace="~{/fragments/template.html :: end-setup}"></th:block>
</body>
</html>