<!DOCTYPE html>
<html xmls:th="https://www.thymeleaf.org" lang="en">
<head>
    <th:block th:replace="~{/fragments/template.html :: head-setup}"></th:block>
    <title>Create new BlogPost</title>
</head>
<body>
    <th:block th:replace="~{/fragments/template.html :: navbar}"></th:block>
    <h1>Add new blogpost</h1>
    <form 
        th:action="@{/blogposts}"
        th:object="${blogPost}"
        method="post"
    >
        <div class="form-group">
            <input type="text" class="form-control" th:field="*{title}" placeholder="Blog title..." />

            <input type="text" class="form-control" th:field="*{author}" placeholder="Blog author..." />

            <input type="text" class="form-control" th:field="*{blogEntry}" placeholder="Blog entry..." />

        </div>
        <button type="submit" class="btn btn-primary">Submit your blog</button>
    </form>
</body>
</html>